<div class="border overflow-hidden mt-4 border border-dark rounded-2">
  <%= image_tag 'office.png', alt: 'Imagen a elección', class: "w-100" %>
</div>
<div class="text-center">
  <%= link_to 'iniciar sesión', new_user_session_path, class: "btn btn-primary btn-lg mt-2" %>
</div>